{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", {
      "ssr": true
    }],
    ["@babel/plugin-proposal-class-properties"],
    ["module-resolver",
      {
        "root": ["./"],
        "alias": {
          "Components": "./components",
          "Lib": "./lib",
          "Hooks": "./hooks",
          "Pages": "./pages",
          "Root": "./",
          "Styles": "./styles",
          "Views": "./views"
        }
      }
    ]
  ]
}