{
  "presets": ["next/babel"],
  "plugins": [
    ["inline-react-svg"],
    ["@babel/plugin-proposal-class-properties"],
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@data": "./data",
          "@constants": "./constants",
          "@components": "./src/components",
          "@graphql": "./graphql",
          "@lib": "./src/lib",
          "@hooks": "./src/hooks",
          "@pages": "./pages",
          "@public": "./public",
          "@root": "./",
          "@views": "./src/views"
        }
      }
    ]
  ]
}
