html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-family: $font-primary;
  width: 100%;
}

input {
  font-family: $font-primary;
  letter-spacing: 0.35px;
  padding: 0;
  outline: none;
  border: none;
  background: none;
}

input:-internal-autofill-selected {
  background: none;

  &::placeholder {
    font-size: inherit !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
  font-size: inherit;
}

button {
  outline: none;
  border: none;
  background: none;
  font-size: 1rem;
  font-family: $font-primary;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
